google-generativeai>=0.3.0 
pymupdf>=1.22.5
pdfplumber>=0.9.0
pandas>=1.5.3
openpyxl>=3.0.10
flask>=2.2.2
pydrive2>=1.15.0
google-auth>=2.22.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
google-api-python-client>=2.92.0